{
  "pelco.integration.search.image.quality": 50,
  "pelco.integration.search.image.format": "jpeg",
  "pelco.integration.search.webService.readWriteTimeout": 8000,
  "pelco.integration.search.webService.timeout": 8000,
  "pelco.integration.search.mkv.url": "https://{{ .Hostname }}",
  "pelco.integration.search.mkv.ws": "wss://{{ .Hostname }}",
  "pelco.integration.search.mfs.url": "https://{{ .Hostname }}/api/v1/",
  "pelco.integration.search.mkv.login": "{{ .User }}",
  "pelco.integration.search.mkv.password": "{{ .Password }}",
  "pelco.integration.search.mkv.listId": "",
  "pelco.integration.search.march.url": "https://{{ .Hostname }}",
  "pelco.integration.search.march.limit": 1000,
  "pelco.integration.search.translation.path": "C:\\ProgramData\\Pelco\\OpsCenter\\Plugins",
  "pelco.integration.search.translation.language": "en-GB",
  "pelco.integration.search.defaultScore": 0.95,
  "pelco.integration.search.vx.ip": "127.0.0.1",
  "pelco.integration.search.vx.port": 443,
  "pelco.integration.search.vx.sdkKey": "DCovPywTKiY5LgolLiYsKCI/MywlBRUTdxAAD24ZHwANGwAOCQ==",
  "pelco.integration.search.vx.username": "admin",
  "pelco.integration.search.vx.password": "Pel2899100",
  "pelco.integration.search.vx.ssl": true
}